# Ignore build and IDE files
.gradle/
/local.properties
/.idea/
/*.iml
/build/
**/build/

# OS files
.DS_Store
Thumbs.db

# Android
/*.keystore

# Kotlin
/.kotlin/

# keep Gradle wrapper files
!gradle/wrapper/gradle-wrapper.jar
